---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import BigJourneys from "../components/BigJourneys.astro";
import MiniJourneys from "../components/MiniJourneys.astro";
import JourneyActivities from "../components/JourneyActivities.astro";
import StudentStories from "../components/StudentStories.astro";
import SocialFeed from "../components/SocialFeed.astro";
import Sustainability from "../components/Sustainability.astro";
import SignupForm from "../components/SignupForm.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Højskolendk-team6">
  <!-- /*************************************************/ HERO /*************************************************/ -->
  <section id="hero">
    <Hero />
  </section>

  <!-- /*************************************************/ BIG JOURNEYS /*************************************************/ -->
  <section id="big-journeys">
    <BigJourneys />
  </section>

  <!-- /*************************************************/ MINI JOURNEYS /*************************************************/ -->
  <section id="mini-journeys">
    <MiniJourneys />
  </section>

  <!-- /*************************************************/ GIF SECTION 1 /*************************************************/ -->

  <img src="/img/flyrute1.gif" alt="Flyrute" />

  <!-- /*************************************************/ JOURNEY ACTIVITIES /*************************************************/ -->
  <section id="journey-activities" class="bg-pink-200">
    <Heading>En rejse højskole fyldt med oplevelser</Heading>
    <JourneyActivities />
  </section>

  <!-- /*************************************************/ GIF SECTION 2 /*************************************************/ -->
  <img src="/img/flyrute2.gif" alt="Flyrute" />

  <!-- /*************************************************/ STUDENT STORIES /*************************************************/ -->
  <section id="student-stories" aria-label="Elevhistorier">
    <StudentStories />
  </section>

  <!-- /*************************************************/ GIF SECTION 3 /*************************************************/ -->
  <img src="/img/flyrute3.gif" alt="Flyrute" />

  <!-- /*************************************************/ SOCIAL MEDIA /*************************************************/ -->
  <section id="social" class="bg-cyan-200">
    <Heading>Følg os på sociale medier!</Heading>
    <SocialFeed />
  </section>

  <!-- /*************************************************/ GIF SECTION 4 /*************************************************/ -->

  <img src="/img/flyrute4.gif" alt="Flyrute" />

  <!-- /*************************************************/ THOUGHTFUL / SUSTAINABILITY /*************************************************/ -->
  <section id="sustainability">
    <Sustainability />
  </section>

  <!-- /*************************************************/ GIF SECTION 5 /*************************************************/ -->
  <img src="/img/flyrute5.gif" alt="Flyrute" />

  <!-- /*************************************************/ SIGNUP FORM /*************************************************/ -->
  <section id="signup">
    <SignupForm />

    <!-- /*************************************************/ GIF SECTION 6 /*************************************************/ -->

    <img src="/img/flyrute4.gif" alt="Flyrute" />
  </section>
</MainLayout>
