---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import thumbsup from "../assets/images/thumbsup.png";
import Hero from "../components/Hero.astro";
import BigJourneys from "../components/BigJourneys.astro";
import MiniJourneys from "../components/MiniJourneys.astro";
import InfoMeeting from "../components/InfoMeeting.astro";
import JourneyActivities from "../components/JourneyActivities.astro";
import StudentStories from "../components/StudentStories.astro";
import SocialFeed from "../components/SocialFeed.astro";
import Sustainability from "../components/Sustainability.astro";
import SignupForm from "../components/SignupForm.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
---

<MainLayout title="Højskolendk-team6">
  <article>
    <h1>Index overskrift</h1>
    <Button>Klik!</Button>
    <p>
      Link til <Link href="https://www.kea.dk" target="_blank"
        >En anden side</Link
      >
    </p>
    <Image src={thumbsup} alt="" />
  </article>

  <!-- Jeg har bare sat en bagundsfarve på hver sektion så vi kan se hvor sektionerne er. De skal slettes senere -->
  <!-- Der skal som sådan ikke kodes inde i index.astro (forsiden), men kun i de enkelte komponenter -->
  <!-- Hvis der er brug for flere komponeneter inde i det "rigtige" komponent, så kan i bare lave flere -->

  <!-- /*************************************************/ TYPOGRAPHY EXAMPLES /*************************************************/ -->
  <section class="py-12 px-6 max-w-5xl mx-auto">
    <!-- H1 -->
    <Heading htmlheading="h1" size="large">Dette er et eksempel på H1</Heading>

    <!-- H2  -->
    <Heading htmlheading="h2" size="medium">Dette er et eksempel på H2</Heading>

    <!-- H3 -->
    <Heading htmlheading="h3" size="small">Dette er et eksempel på H3</Heading>

    <!-- H4 -->
    <Heading htmlheading="h4" size="xsmall">Dette er et eksempel på H4</Heading>

    <!-- Brødtekst -->
    <div class="mt-6 space-y-3">
      <Text teksttype="brødtekst">Dette er et eksempel på brødtext.</Text>
      <Text teksttype="fedbrødtekst">Dette er et eksempel på fed brødtext.</Text
      >
    </div>
  </section>

  <!-- /*************************************************/ HERO /*************************************************/ -->
  <section id="hero" class="bg-orange-200">
    <Heading>HØJSKOLE I UDLANDET</Heading>
    <Hero />
  </section>

  <!-- /*************************************************/ BIG JOURNEYS /*************************************************/ -->
  <section id="big-journeys" class="bg-green-200">
    <Heading>VÆLG DIT EVENTYR!</Heading>
    <BigJourneys />
  </section>

  <!-- /*************************************************/ MINI JOURNEYS /*************************************************/ -->
  <section id="mini-journeys" class="bg-blue-200">
    <Heading>Sommerhøjskole i udlandet</Heading>
    <MiniJourneys />
  </section>

  <!-- /*************************************************/ INFO MEETINGS /*************************************************/ -->
  <section id="info-meetings" class="bg-purple-200">
    <Heading>INFO MØDER</Heading>
    <InfoMeeting />
  </section>

  <!-- /*************************************************/ JOURNEY ACTIVITIES /*************************************************/ -->
  <section id="journey-activities" class="bg-pink-200">
    <Heading>En rejse højskole fyldt med oplevelser</Heading>
    <JourneyActivities />
  </section>

  <!-- /*************************************************/ STUDENT STORIES /*************************************************/ -->
  <section id="student-stories" class="bg-red-200" aria-label="Elevhistorier">
    <Heading>Elevhistorier</Heading>
    <StudentStories />
  </section>

  <!-- /*************************************************/ SOCIAL MEDIA /*************************************************/ -->
  <section id="social" class="bg-cyan-200">
    <Heading>Følg os på sociale medier!</Heading>
    <SocialFeed />
  </section>

  <!-- /*************************************************/ THOUGHTFUL / SUSTAINABILITY /*************************************************/ -->
  <section id="thoughtful-travel" class="bg-lime-200">
    <Heading>Rejser med omtanke</Heading>
    <Sustainability />
  </section>

  <!-- /*************************************************/ SIGNUP FORM /*************************************************/ -->
  <section id="signup" class="bg-gray-200">
    <Heading>Tilmeld</Heading>
    <SignupForm />
  </section>
</MainLayout>
