---
import MainLayout from "../layouts/MainLayout.astro";
import Hero from "../components/Hero.astro";
import BigJourneys from "../components/BigJourneys.astro";
import MiniJourneys from "../components/MiniJourneys.astro";
import InfoMeeting from "../components/InfoMeeting.astro";
import JourneyActivities from "../components/JourneyActivities.astro";
import StudentStories from "../components/StudentStories.astro";
import SocialFeed from "../components/SocialFeed.astro";
import Sustainability from "../components/Sustainability.astro";
import SignupForm from "../components/SignupForm.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import GifSection from "../components/GifSection.astro";
---

<MainLayout title="Højskolendk-team6">
  <!-- /*************************************************/ HERO /*************************************************/ -->
  <section id="hero">
    <Hero />
  </section>

  <!-- /*************************************************/ BIG JOURNEYS /*************************************************/ -->
  <section id="big-journeys">
    <BigJourneys />
  </section>

  <!-- /*************************************************/ MINI JOURNEYS /*************************************************/ -->
  <section id="mini-journeys" class="bg-blue-200">
    <Heading>Sommerhøjskole i udlandet</Heading>
    <MiniJourneys />
  </section>

  <!-- /*************************************************/ GIF SECTION /*************************************************/ -->
  <GifSection gifSrc="/img/flyrute1.gif" altText="fly gif" />

  <!-- /*************************************************/ INFO MEETINGS /*************************************************/ -->
  <section id="info-meetings" class="bg-purple-200">
    <Heading>INFO MØDER</Heading>
    <InfoMeeting />
  </section>

  <!-- /*************************************************/ JOURNEY ACTIVITIES /*************************************************/ -->
  <section id="journey-activities" class="bg-pink-200">
    <Heading>En rejse højskole fyldt med oplevelser</Heading>
    <JourneyActivities />
  </section>

  <!-- /*************************************************/ GIF SECTION 2 /*************************************************/ -->
  <GifSection gifSrc="/img/flyrute2.gif" altText="fly gif 2" zIndex="-10" />

  <!-- /*************************************************/ STUDENT STORIES /*************************************************/ -->
  <section id="student-stories" aria-label="Elevhistorier">
    <StudentStories />
  </section>

  <!-- /*************************************************/ GIF SECTION 3 /*************************************************/ -->
  <GifSection gifSrc="/img/flyrute3.gif" altText="fly gif 3" zIndex="-10" />

  <!-- /*************************************************/ SOCIAL MEDIA /*************************************************/ -->
  <section id="social" class="bg-cyan-200">
    <Heading>Følg os på sociale medier!</Heading>
    <SocialFeed />
  </section>

  <!-- /*************************************************/ GIF SECTION 4 /*************************************************/ -->
  <GifSection gifSrc="/img/flyrute4.gif" altText="fly gif 4" zIndex="-10" />

  <!-- /*************************************************/ THOUGHTFUL / SUSTAINABILITY /*************************************************/ -->
  <section id="thoughtful-travel">
    <Sustainability />
  </section>
  <!-- /*************************************************/ GIF SECTION 5 /*************************************************/ -->
  <GifSection gifSrc="/img/flyrute5.gif" altText="fly gif 5" zIndex="-10" />

  <!-- /*************************************************/ SIGNUP FORM /*************************************************/ -->
  <section id="signup">
    <SignupForm />
    <!-- /*************************************************/ GIF SECTION 6 /*************************************************/ -->
    <GifSection gifSrc="/img/flyrute4.gif" altText="fly gif 4" zIndex="-10" />
  </section>
</MainLayout>
