---
import MainLayout from "../layouts/MainLayout.astro";
import TripIntro from "../components/TripIntro.astro";
import DatesPrices from "../components/DatesPrices.astro";
import TripProgram from "../components/TripProgram.astro";
import WhatsIncluded from "../components/WhatsIncluded.astro";
import Sustainability from "../components/Sustainability.astro";
import Heading from "../components/Heading.astro";
import GifSection from "../components/GifSection.astro";
---

<MainLayout title="Single View">
  <!-- /*************************************************/ TRIP INTRO /*************************************************/ -->
  <section id="trip-intro">
    <TripIntro />
  </section>

  <!-- /*************************************************/ DATES & PRICES /*************************************************/ -->
  <section id="dates-prices">
    <DatesPrices />
  </section>
  <!-- /*************************************************/ GIF SECTION /*************************************************/ -->
  <GifSection gifSrc="/img/flyrute1.gif" altText="fly gif" />

  <!-- /*************************************************/ TRIP PROGRAM /*************************************************/ -->
  <section id="trip-program">
    <TripProgram />
  </section>

  <!-- /*************************************************/ WHAT'S INCLUDED /*************************************************/ -->
  <section id="whats-included">
    <WhatsIncluded />
  </section>

  <!-- /*************************************************/ SUSTAINABILITY /*************************************************/ -->
  <section id="sustainability">
    <Sustainability />
  </section>
</MainLayout>
